{% extends 'base.html.twig' %}

{% block title %}Edit Autor{% endblock %}

{% block body %}
    <h1>Edit Autor</h1>

    {{ include('autor/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('autor_index') }}">back to list</a>

    {{ include('autor/_delete_form.html.twig') }}
{% endblock %}
