{% extends 'base.html.twig' %}

{% block title %}New Autor{% endblock %}

{% block body %}
    <h1>Stwórz nowego autora</h1>

    {{ include('autor/_form.html.twig') }}

    <a href="{{ path('autor_index') }}">Powrót do listy</a>
{% endblock %}
