{% extends 'base.html.twig' %}

{% block title %}Edit Mebel{% endblock %}

{% block body %}
    <h1>Edit Mebel</h1>

    {{ include('mebel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('mebel_index') }}">Powrót do listy</a>

    {{ include('mebel/_delete_form.html.twig') }}
{% endblock %}
