{% extends 'base.html.twig' %}

{% block title %}<center>Dodaj Mebel</center>{% endblock %}

{% block body %}
    <center>
    <h1>Dodaj Mebel</h1>

    {{ include('mebel/_form.html.twig') }}

    <a href="{{ path('mebel_index') }}">Powrót do listy</a>
    </center>
{% endblock %}
