{% extends 'base.html.twig' %}

{% block title %}Edytuj Pomieszczenie{% endblock %}

{% block body %}
    <h1>Edytuj Pomieszczenie</h1>

    {{ include('pokoj/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pokoj_index') }}">Powrót do listy</a>

    {{ include('pokoj/_delete_form.html.twig') }}
{% endblock %}
