{% extends 'base.html.twig' %}

{% block title %}Edit Wypozyczenie{% endblock %}

{% block body %}
    <h1>Edit Wypozyczenie</h1>

    {{ include('wypozyczenie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('wypozyczenie_index') }}">Powrót do listy</a>

    {{ include('wypozyczenie/_delete_form.html.twig') }}
{% endblock %}
