{% extends 'base.html.twig' %}

{% block title %}New Wypozyczenie{% endblock %}

{% block body %}
    <h1>Create new Wypozyczenie</h1>

    {{ include('wypozyczenie/_form.html.twig') }}

    <a href="{{ path('wypozyczenie_index') }}">Powrót do listy</a>
{% endblock %}
