{% extends 'base.html.twig' %}

{% block title %}New Polka{% endblock %}

{% block body %}
    <h1>Create new Polka</h1>

    {{ include('polka/_form.html.twig') }}

    <a href="{{ path('polka_index') }}">back to list</a>
{% endblock %}
