{% extends 'base.html.twig' %}

{% block title %}Dodaj Półkę{% endblock %}

{% block body %}
    <h1>Dodaj Półkę</h1>

    {{ include('polka/_form.html.twig') }}

    <a href="{{ path('polka_index') }}">Powrót do listy</a>
{% endblock %}
