{% extends 'base.html.twig' %}

{% block title %}Dodaj Dzieło{% endblock %}

{% block body %}
    <h1>Dodaj Dzieło</h1>

    {{ include('dzielo/_form.html.twig') }}

    <a href="{{ path('dzielo_index') }}">Powrót do listy</a>
{% endblock %}
